include header.pug
div.page
  div.paymentForm
    form(action="/paymentResult?finalCost=" + data.cost, method="post")
      article
        label Amount: £#{data.cost}
      script(
        src="//checkout.stripe.com/v2/checkout.js",
        class="stripe-button",
        data-key=keyPublishable,
        data-locale="auto",
        data-description="Premier Shirts",
        data-currency="GBP",
        data-amount=data.shirtCost*100)
include footer.pug