include header.pug
div.page
  div.addressForm
    div
      span Name: 
      input.name
    div
      span Line 1: 
      input.line1
    div  
      span Line 2: 
      input.line2
    div  
      span Town/City: 
      input.town
    div  
      span County: 
      input.county
    div  
      span Postcode: 
      input.postcode
  div.paymentForm
    form(action="/paymentResult?finalCost=" + data.cost, method="post")
      article
        label Amount: £#{data.cost}
      script(
        src="//checkout.stripe.com/v2/checkout.js",
        class="stripe-button",
        data-key=data.key,
        data-locale="auto",
        data-description="Premier Shirts",
        data-currency="GBP",
        data-amount=data.shirtCost*100)
include footer.pug