include header.pug
div.payment
  h1.title Payment
  div.addressForm
    div
      div.formLabel Name: 
      input.name
    div
      div.formLabel Line 1: 
      input.line1
    div  
      div.formLabel Line 2: 
      input.line2
    div  
      div.formLabel Town/City: 
      input.town
    div  
      div.formLabel County: 
      input.county
    div  
      div.formLabel Postcode: 
      input.postcode
  div.paymentForm
    form(action="/paymentResult?finalCost=" + data.cost, method="post")
      article
        label Amount: £#{data.cost}
      script(
        src="//checkout.stripe.com/v2/checkout.js",
        class="stripe-button",
        data-key=data.key,
        data-locale="auto",
        data-description="Premier Shirts",
        data-currency="GBP",
        data-amount=data.shirtCost*100)
include footer.pug