include header.pug
div.page.payment
	div.content
		h1.title Payment
		div.form.addressForm
			div.field
				span.formLabel Name: 
				input.name
			div.field  
				span.formLabel Phone: 
				input.telephone
			div.field
				span.formLabel Line 1: 
				input.line1
			div.field 
				span.formLabel Line 2: 
				input.line2
			div.field  
				span.formLabel Town/City: 
				input.town
			div.field  
				span.formLabel County: 
				input.county
			div.field  
				span.formLabel Postcode: 
				input.postcode
			div.field  
				span.formLabel Country: 
				input.country
			if data.deliveryType == "deliver"
				div.field
					span.note(onclick="alert('The day you will bring your order to the office.');") ?
					span.formLabel Delivery Date:
					input.date(type="date", onfocus="(this.type='date')")
		div.paymentForm
			form(action="/paymentResult", method="post")
				article
					label.breakdown
						h5 Price Breakdown
						div Shirt Cost: £!{data.displayShirtCost}
						div Delivery Cost: £!{data.displayDeliveryCost}
						div Toal Cost: £!{data.displayTotalCost}
				script(
					src="//checkout.stripe.com/v2/checkout.js",
					class="stripe-button",
					data-key=data.key,
					data-locale="auto",
					data-description="Premier Shirts",
					data-currency="GBP",
					data-amount=data.totalCost*100)
			a.paymentButton Make Payment
include footer.pug