include header.pug
div.page
  if data.printingType == "hero"
    h1 #{data.printingType}
    h1 #{data.style}
    h1 #{data.deliveryType}
    h1 #{data.club}
    h1 #{data.strip}
    h1 #{data.playerNumber}
  else if data.premOrDifferent == "different"
    h1 #{data.printingType}
    h1 #{data.style}
    h1 #{data.deliveryType}
    h1 #{data.letter}
    h1 #{data.colour}
    h1 #{data.name}
    h1 #{data.number}
  else if data.printingType == "custom"
    h1 #{data.printingType}
    h1 #{data.style}
    h1 #{data.deliveryType}
    h1 #{data.club}
    h1 #{data.strip}
    h1 #{data.name}
    h1 #{data.number}

include footer.pug