html
	head
		title Premier Shirts
		style 
			include ../public/css/order.css
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		script(type='text/javascript' src='public/js/jquery.js')
		script(type='text/javascript' src='public/js/order.js')
	body
		div.orders
			h1 Orders
			div
				span Order Number:
				input.orderNumberInput
				a.getOrder(href="/") Select
			table
				tr
					th Order Number
					th Name
					th Address
					th E-mail
					th Telephone
					th Cost
					th Status
					th Date of Last Action
					th Want Sleeves?
					th Kit Name
					th Kit Number
					th Delivery
					th Style
					th Club
					th Strip
					th Colour
					th Letter
					th new status
					th Update
				each order in data
					tr 
						td #{order.ordernumber}
						td #{order.name}
						td #{order.address}
						td #{order.email}
						td #{order.telephone}
						td #{order.cost}
						td #{order.description}
						td #{order.datechanged}
						td #{order.sleeve}
						td #{order.kitname}
						td #{order.kitnumber}
						td #{order.deliverytype}
						td #{order.style}
						td #{order.club}
						td #{order.strip}
						td #{order.colour}
						td #{order.letter}
						td 
							select.orderOption(id=order.ordernumber + "_" + order.shirtid)
								option Waiting for shirt
								option Shirt Received
								option Shirt Sent Back
						td 
							a(class=order.ordernumber + "_" + order.shirtid ref="/") Update
						